<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href=" {% url 'index' %} ">
        <i class="bi bi-grid"></i>
        <span>PahlawanKu</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'barang_list' %}">Artikel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'tabel_users' %}">User</a>
    </li><!-- End Profile Page Nav -->
  </ul>